<a href="https://colab.research.google.com/github/kiranmayi19/basicml/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

printing a array

In [11]:
import numpy as np
a=np.array([2,4,6])
print(a)

[2 4 6]

adding arrays

In [12]:
b=np.array([[1,2,3],[4,5,6]])
print(b)

[[1 2 3]
 [4 5 6]]

printing numbers within a range of interval

In [14]:
c=np.arange(2,101,2)
print("The first 50 even numbers ")
print(c)

The first 50 even numbers
[  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

adding elements in an array

In [16]:
d=np.append(a,[8,10,11])
print(d)

[ 2  4  6  8 10 11]

deleting elements in an array

In [20]:
e=np.delete(d,4)
print(e)

[ 2  4  6  8 11]

modifying the element

In [26]:
f = np.array([8,3,4,5,6,2])
f[f<4] = -1 
print(f)

[ 8 -1  4  5  6 -1]

arithmetic operations

In [27]:
a = np.array( [10,20,30,40] )
b = np.arange( 4 )
print("The elements in a are",a)
print("The elements in b are",b)

print("Result after Addition",a+b)
print("Result after substraction",a-b)
print("Result after multiplication",a*b)
print("Result after division",a/b) 

print("Result after increasing the number to the power of 4",b**4) 

print("Result after applying sin and multiplying with 10",10*np.sin(a)) 

a[0] +=10 
print("Result after adding first element with 10",a)

print(np.dot(a,b))

The elements in a are [10 20 30 40]
The elements in b are [0 1 2 3]
Result after Addition [10 21 32 43]
Result after substraction [10 19 28 37]
Result after multiplication [  0  20  60 120]
Result after division [        inf 20.         15.         13.33333333]
Result after increasing the number to the power of 4 [ 0  1 16 81]
Result after applying sin and multiplying with 10 [-5.44021111  9.12945251 -9.88031624  7.4511316 ]
Result after adding first element with 10 [20 20 30 40]
200

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in true_divide
  if __name__ == '__main__':